<footer class="footer">
  {{i18n.poweredBy}} <a href="https://deariary.com?utm_source=github-weekly-reporter&utm_medium=footer">deariary</a>
  &nbsp;&middot;&nbsp;
  <a href="https://github.com/deariary/github-weekly-reporter">github-weekly-reporter</a>
</footer>
